/* CSS Layout */



/* BACKGROUND SECTION */
.page {background-color:brown;
	width:80%;
	margin:auto;
	padding:10px;}



/* HEADER SECTION */
.main-header {background-color:yellow}

.social-sites li {display:inline;
	position:absolute;
	left:400px;
	top:-40px;}


/* MAIN & SIDEBAR SECTION */
.container {background-color:purple;
	padding:10px}



/* MAIN SECTION */
main {background-color:red;
	width:60%;
	float:left;}



/* SIDEBAR SECTION */
.sidebar {background-color:pink;
	width:20%;
	float:right}


/* FOOTER SECTION */
.main-footer {backround-color:grey;
	clear:both;}



