/* CSS Web */

/* Types of selector */

/* 3.2 CLASS NAME as selector */

.class-para  {color:white;
	text-decoration:font-family:serif;georgia;
	font-size:15px;
	font-weight:bold;
	align:center}

.class-para01  {color:#36312E;
	text-decoration:font-family:monospace;monaco;
	font-size:15px;
	font-weight:bold;
	align:center} 

.class-paraa  {color:orange;
	text-decoration:font-family:fantasy;copperplate;
	font-size:30px;
	font-weight:bold;
	align:center} 

.class-para02  {color:#63503a;
	text-decoration:font-family:monospace;monaco;
	font-size:20px;
	font-weight:none;
	align:left} 

.class-about  {color:#1D0A00;
	text-decoration:font-family:fantasy;copperplate;
	font-size:30px;
	font-weight:bold;
	align:center} 

.class-center1 {color:brown;
	text-decoration;font-family:serif;times-new-roman;
	font-size:15px;
	font-weight:none;
	align:center}

/**/

a:link {color:orange;
	text-decoration:font-family:fantasy;copperplate;
	align:center}

a:visited {color:bank;
	text-decoration:font-family:fantasy;copperplate;
	align:center}

a:hover {color:green;
	text-decoration:font-family:fantasy;copperplate;
	font-size:20px;
	font-weight:none;
	align:center}

/**/
.class-para03  {color:green;
	text-decoration:font-family:monospace;monaco;
	font-size:15px;
	font-weight:none;
	align:center} 


/**/
.class-para04  {color:cadetblue;
	text-decoration:font-family:monospace;monaco;
	font-size:20px;
	font-weight:none;
	align:center} 

/**/
.class-para05  {color:blue;
	text-decoration:font-family:monospace;monaco;
	font-size:20px;
	font-weight:none;
	align:center} 


/**/.table {table-layout:auto;}







